<div>
    <a href="/profile">Profile</a>
    <a href="/logout">Logoff</a>
</div>

@*@attribute [Authorize]*@

@*<MudMenu Color="Color.Inherit" Icon="@Icons.Material.Filled.Face" AnchorOrigin="Origin.BottomRight" >
    <MudMenuItem Link="/profile">Profile</MudMenuItem>
    <MudDivider />
    <MudMenuItem Link="/logout">Logoff</MudMenuItem>
</MudMenu>*@
